{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "react",
    "flow"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-react-jsx",
    "external-helpers"
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        "transform-class-properties",
        "transform-runtime"
      ]
    }
  }
}
